<div class="row">
    <div class="twelve columns box">
        <h2>
                User:
        </h2>

            <ul class="no-bullets">
            {{#each user}}
                    <li>Hello {{name}} has been greeted {{counter}} times.</li>
             {{/each}} 
            </ul>
                   
    <hr>
        {{!-- <form action="/" method="GET">
            <button class="button-primary" type="submit" name="button">Back</button>
        </form> --}}

    </div>
</div>