<div class="row">
    <div class="twelve columns box">
        <h2>
                Greeted User
        </h2>
        <br>
            <ul class="no-bullets">
                {{user}}
            </ul>
         <a href="/"><button class="button-primary" type="submit" name="button">Back</button></a>

    </div>
</div>