<div class="row">
    <div class="twelve columns box">
        <h2>
                Users Greeted:
        </h2>
            <ul class="no-bullets">
            {{#each greetedUsers}}
                    <a href="/counter/{{name}}"><li>{{name}}</li></a>
                    {{/each}} 
            </ul>
        
    <hr>
        <form action="/" method="GET">
            <button class="button-primary" type="submit" name="button">Back</button>
        </form>

    </div>
</div>