<div class="row">
    <div class="twelve columns box">
        <h2>
                Users Greeted:
        </h2>
        <!---table>
            <tr>
                <th>User Greeted</th>
            </tr>
            <tr>
                {{#each greetedPeople}}
                     <td>{{this}}</td>
                    {{/each}} 
            </tr>
        </table-->

            <ul class="no-bullets">
            {{#each greetedUsers}}
                     <li>{{name}} has been greeted {{counter}} times.</li>
                    {{/each}} 
            </ul>
        
    <hr>
        <form action="/" method="GET">
            <button class="button-primary" type="submit" name="button">Back</button>
        </form>

    </div>
</div>